<html>
    <head>
    </head>
    <body>
        <h1>This is admin Page</h1>
        <a href="/register">Register Employee</a>
        <a href="/leave">Leave Requests</a>
        <a class="nav-link" href="/logout">Log Out</a>
    </body>
</html>