<html lang="em">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HR-Attendance</title>
    </head>
    <body>
        <h1>Apply for Leave</h1>
        <h3>Today is</h3>
        <p>
            <script>
                document.write(new Date().toLocaleDateString());
            </script>
        </p>
        <form action="/attendance" method="POST">
            <label for="from">Date of start of leave</label>
            <input type="date" name="from" id="from" />
            <br />
            <br />
            <br />
            <label for="from">Date of end of leave</label>
            <input type="date" name="to" id="to" />
            <br />
            <br />
            <br />
            <label for="from">Number of days for leave</label>
            <% if(leavecount) { %>
            <p><%=leavecount%></p>
            <% } %>
            <br />
            <br />
            <br />
            <button type="submit" name="submit" id="submit_btn">Apply</button>
        </form>
        <script>
            var count = '<%-leavecount%>';
            if (count != 0) {
                document.getElementById('submit_btn').disabled = true;
            } else {
                document.getElementById('submit_btn').disabled = false;
            }
        </script>
    </body>
</html>
