<html>
    <head>

    </head>
    <body>
        <h1>This is chatbot</h1>
        <form action="/chatbot" method="POST">
            <input type="text" placeholder="Ask a Question" name="text">
            <button type="submit">Send</button>
        </form>
        <p><%=subValue%></p>
    </body>
</html>