<html lang="em">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/emplogin.css">
        <title>HR-Attendance</title>
    </head>
    <body>
        <div class="inner">
            <div class="photo">
                <img src="image/login.svg">
            </div>
            <div class="user-form">
                <h1>Login as Employee</h1>
                <form action="/empllogin" method="POST">
                    <input required name="username" placeholder="Username">
                    <input required name="password" placeholder="Employee ID">
                    <div class="action-btn">
                        <button class="btn" type="submit" name="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>