<html lang="em">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HR-Attendance</title>
    </head>
    <body>
        <form action="/empllogin" method="POST">
            <input  name="username" placeholder="Username">
            <input  name="password" placeholder="Employee ID">
            <button type="submit" name="submit">Submit</button>
        </form>
        <!--<script src="js/emplogin.js"></script>-->
    </body>
</html>