<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="css/faq.css">
    </head>
    <body>
        <h1>Frequently Asked Questions</h1>
        <section class="header">
            <div class="left">
                <p>Welcome to Frequently Asked Question section. Have a question in your mind? Search the below questions to find if they provide you any solution, if not then feel free to ask one and wait till someone answers it. You can also answer any question if it's unanswered to help others !!</p>
                <div class="askfaq">
                    <a class="linkfaq" href=#submitfaq>Ask a question</a>
                </div>
                <div class="askfaq">
                    <a class="linkfaq" href=#FAQ>See FAQs</a>
                </div>
            </div>
            <div class="right">
                <img src="image/question.svg">
            </div>
        </section>


        <div class="container" id="FAQ">
            <h2>Questions</h2>
                <% passedFaq.forEach(function(faq){ %>
                    
                        <form action="/faq" method="POST">
                            <% if(faq.answer != null){  %>
                                <div class="qform">
                                    <h3>Q. <%=faq.question%></h3>
                                    <p><%=faq.answer%></p>
                                </div>
                            <% } %>
                        </form>
                    
               <% }) %>
        
           
                <% passedFaq.forEach(function(faq){ %>
                    
                        <form action="/faq" method="POST">
                            <% if(faq.answer == null){  %>
                                <div class="qform">
                                    <h3>Q. <%=faq.question%></h3>
                                    <input type="text" name="answer">
                                    <input style="display: none;" value='<%=faq._id%>' name='ansId'>
                                    <br>
                                    <button class="btn" type="submit">Answer</button>
                                </div>
                            <%  } %>
                        </form>
                    
                    
               <% }) %>

            <div class="qform" id="submitfaq">
                <h2>Ask your Question</h2>
                <form action="/askfaq" method="POST">
                    <input type="text"  name="question" placeholder="Ask a question">
                    <br>
                    <button class="btn" type="submit">Submit</button>
                </form>
            </div>
            
    </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</html>
        
     