<%- include("partials/header") -%>
  <header>
    <div class="left">
        <h1>ABC COMPANY</h1>
        <div class="einfo">
            <h2>Welcome <%= empDetail.name %></h2>
            <h3><%= empDetail.designation %></h3>
        </div>
    </div>
</header>

<%- include("partials/footer") -%> 