<html lang="em">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HR-Attendance</title>
    </head>
    <body>
        <h1>ABC COMPANY</h1>
        <a href="/empllogin">Login as Employee</a> 
        <a href="/adminlogin">Login as Admin</a>
    </body>
</html>