<html lang="em">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="css/login.css">
        <title>HR-Attendance</title>
    </head>
    <body>
        <div class="inner">
            <div class="photo">
                <!-- <img src="image/login.svg"> -->
                <img src="../image/login.jpeg">
            </div>
            <div class="user-form">
                <h1>CREDENCE</h1>
                <a href="/empllogin">Login as Employee</a> 
                <a href="/adminlogin">Login as Admin</a>
            </div>
        </div>
    </body>
</html>