<html>
    <head>

    </head>
    <body>
        <h1>This mail page</h1>
        <form action="/mail" method="POST">
            <input type="email" placeholder="Enter your mail Id" name="reciMail">
            <input type="text" placeholder="Enter message" name="msg">
            <button type="submit">Send</button>
        </form>
    </body>
</html>