<html lang="em">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HR-Attendance</title>
    </head>
    <body>
        <form action="/register" method="POST">
            <input  name="username" placeholder="Username">
            <input  name="password" placeholder="Employee ID">
            <input  name="name" placeholder="Name">
            <input  name="designation" placeholder="Designation">
            <input  name="team" placeholder="Team">
            <input  name="salary" placeholder="Salary">
            <input  name="phnum" placeholder="Phone Number">
            <button type="submit" name="submit">Submit</button>
        </form>
    </body>
</html>