
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}
.inner{
    height: 75%;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 10px 10px 68px -6px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
}

.photo{
    width: 50%;
    height: 100%;
    padding: 0 50px;
}
.photo img{
    width: 100%;
    height: 100%;
}
.user-form{
    background: #8533AC;
    padding: 50px;
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}
.user-form h1{
    color: #fff;
    padding: 30px 0;
    font-weight: 700;
    text-align: center;
    padding-top: 6rem;
}
a{
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

@media(max-width: 665px){
    .photo{
        display: none;
    }
    .user-form{
        width: 100%;
        border-radius: 10px;
    }
}
